.wrapper {
    width: 1220px;
    margin: 40px auto 40px;
    align-items: center;
    background: var(--Primaty-Grey-Light, #F6F5F4);
}

.wrapper .title {
    display: flex;
    border-radius: 14px;
    background: #FFF;
    height: 72px;
    margin: 40px 10px;
    align-items: center;
    justify-content: center;
}

.wrapper .title .imgHat {
    background-image: url(./assets/hat.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
}

.wrapper .title h1 {
    color: var(--Primaty-Black, #000);
    font: 400 26px 'Dela Gothic One';
}

.wrapper .allContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px auto;
    width: 1220px;
}

.wrapper .sectionJS {
    display: flex;
    justify-content: space-between;

}

.wrapper .sectionJS .imgJS {
    background-image: url(./assets/imgForJSandPython.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 337px;
    height: 216px;
}

.wrapper .sectionJS .textContentJS {
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 22.898px 45.796px -11.449px rgba(52, 41, 39, 0.08);
}

.wrapper .sectionJS .textContentJS h1 {
    color: #000;
    font: 400 32px 'Dela Gothic One';

}

.wrapper .sectionJS .textContentJS .line {
    background-image: url(./assets/line.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 3px;

}

.wrapper .sectionJS .textContentJS p {
    color: var(--Primaty-Grey-Dark, #757575);
    font: 500 16px 'Montserrat';
}