.wrapper {
    width: 1220px;
    margin: 40px auto 40px;
    align-items: center;
    background: var(--Primaty-Grey-Light, #F6F5F4);
}

.wrapper .title {
    display: flex;
    border-radius: 14px;
    background: #FFF;
    height: 72px;
    margin: 40px 10px;
    align-items: center;
    justify-content: center;
}

.wrapper .title .imgHat {
    background-image: url(./assets/hat.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
}

.wrapper .title h1 {
    color: var(--Primaty-Black, #000);
    font: 400 26px 'Dela Gothic One';
}

